<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Standard Meta -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- Site Properties -->
    <title>Search Users</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link
      href="{{ url_for('static', filename='js/semantic.min.js') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Site Properties -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/icons/icon-github.svg') }}"
      sizes="any"
      type="image/svg+xml"
    />
  </head>
  <body class="pushable">
    <div
      class="ui grid middle aligned segment inverted"
      style="height: 100%; margin: 0"
    >
      <div class="ui column center aligned">
        <div class="ui inverted statistic">
          <div class="value">500/div>
          <div class="label">Error</div>
        </div>

        <div class="ui message red inverted">
          <div class="header">Description</div>
          <p>Not found</p> 
          </p>Return to <a class="item" href="{{ url_for('index') }}"> Home <i class="github icon"></i></a></p>
        </div>
      </div>
    </div>
  </body>
</html>
