<!--  AUTHOR: juniors CREATED AT: 22/02/2021 --> 
{% extends "base.html" %}

{% block title %}
    {% if profile %}
        Github Profile of {{ name }}
    {% else %}
        Github Profile Finder
    {% endif %}
{% endblock %}

{% block body %}

<div class="ui container">
  {% if profile %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <table class="ui celled padded teal table">
            <thead>
              <tr>
                <th class="single line">Name</th>
                <th>Company</th>
                <th>Member since</th>
                <th>Repositories and Followers</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="ui center aligned header">{{ profile.login }}</div>
                </td>
                <td class="single line">{{ profile.company }}</td>
                <td>
                  <label><span>{{ date }}</span></label>
                </td>
                <td class="left aligned">
                  <span><i class="folder teal icon"></i>Public: {{ profile.public_repos }}</span>
                  <br />
                  <span><i class="star teal icon"></i>Followers: {{ profile.followers }}</span>
                </td>
                <td>
                  <div class="ui center aligned">{% if profile.location %}{{ profile.location }} {% else %} Unlocation {% endif %}</div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="5">
                  <div class="ui right floated pagination menu">
                    <a class="icon item">
                      <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="icon item">
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="six wide right floated column">
          <img
            class="ui medium circular image"
            src="{{ profile.avatar_url }}"
            alt="user-image"
          />
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a
            class="ui huge teal button labeled icon"
            href="{{ profile.html_url }}"
            target="_blank"
            ><i class="icon github"></i> Check {{ name }}'s
            profile
          </a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="ui container">
    <div class="ui grid stackable padded">
      <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile center aligned column">
        <div class="ui teal statistic">
          <div class="value">0</div>
          <div class="label">GitHub Profile Not Find</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
